// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$body-bg-dark: black;
$body-color-dark: #FFF;
$subtle-grey: #1B1B1B;
$dimmed-white: #959595;

$primary: #00C15B;
$secondary: #05A4B7;

$code-color: #48E91D;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";


// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
//@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
//@import "../node_modules/bootstrap/scss/tables";
//@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
/*! purgecss start ignore */
@import "../node_modules/bootstrap/scss/transitions";
/*! purgecss end ignore */
//@import "../node_modules/bootstrap/scss/dropdown";
//@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
//@import "../node_modules/bootstrap/scss/card";
//@import "../node_modules/bootstrap/scss/accordion";
//@import "../node_modules/bootstrap/scss/breadcrumb";
//@import "../node_modules/bootstrap/scss/pagination";
//@import "../node_modules/bootstrap/scss/badge";
//@import "../node_modules/bootstrap/scss/alert";
//@import "../node_modules/bootstrap/scss/progress";
//@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
//@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal";
//@import "../node_modules/bootstrap/scss/tooltip";
//@import "../node_modules/bootstrap/scss/popover";
//@import "../node_modules/bootstrap/scss/carousel";
//@import "../node_modules/bootstrap/scss/spinners";
//@import "../node_modules/bootstrap/scss/offcanvas";
//@import "../node_modules/bootstrap/scss/placeholders";


// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
$utilities: map-merge(
  $utilities,
  (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
    (responsive: true),
    ),
  )
);
@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here

// Bootstrap Icons
$bootstrap-icons-font-src: url('/node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2') format("woff2"), url('/node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff') format('woff');
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

// Custom Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap');

.overlay {
    position: relative;
    width: 100%;
    > * {
        z-index: 10;
        position: relative;
    }
    > .behind-overlay {
        z-index: 1;
        position: absolute;
    }
}

.dark-shadow {
    filter: 
        drop-shadow(0px 0px 5px black)
        drop-shadow(0px 0px 5px black)
        drop-shadow(0px 0px 5px black)
        drop-shadow(0px 0px 5px black)
        drop-shadow(0px 0px 5px black);
}

.home-hero .overlay {
    $height: 70svh;
    min-height: $height;
    > .behind-overlay {
        top: 0px;
        right: 0px;
        height: $height;
        max-width: none;
        overflow-x: clip;
        @media screen and (max-width: 560px) {
            right: -10%;
        }
    }
    p, li, h1 {
        @extend .dark-shadow;
    }
    p, li {
        font-family: 'Roboto Mono', monospace;
    }
    h1 {
        @extend .display-3;
        max-width: 75%;
    }
    .hero-tagline {
        font-weight: 300;
        max-width: Min(60%, 400px);
        letter-spacing: -1.5px;
    }
    ul {
        padding: 0;
        text-transform: lowercase;
    }
    li {
        @extend .mt-4;
        list-style: none;
        width: max-content;
        padding-right: 1rem;
        ::after {
            content: " >";
        }
    }
    a {
        color: inherit;
        text-decoration: none;
    }
}

.color-trail {
    filter: 
        drop-shadow(2px 2px 1px black)
        drop-shadow(3px 3px 0px $primary)
        drop-shadow(3px 1px 0px $secondary);
}

.color-hover {
    transition: filter 0.2s ease-out;
    &:hover {
        @extend .color-trail;
    }
}

.navbar-brand img {
    max-height: 50px;
    width: auto;
}

.nav-link h1 {
    all: unset;
}

.album-wrapper, .video-wrapper {
    width: 100%;
    overflow: clip;
    @media screen and (min-width: 768px) {
        aspect-ratio: 12/5;
    }
    > div {
        @media screen and (max-width: 768px) {
            max-width: 480px;
        }
        height: 100%;
    }
    .album-art {
        max-width: 100%;
        border: 2px solid $subtle-grey;
    }
    .album-desc {
        height: 100%;
    }

    .bc-player {
        overflow: clip;
        height: 300px;
        max-height: 100%;
        border: 2px solid black;
        width: 100%;
    }

    .yt-player {
        width: 100%;
        height: 100%;
        aspect-ratio: 1920/1080;
    }
    .album-credits {
        font-size: 0.9rem;
        opacity: 90%;
    }
}

iframe {
    opacity: 10%;
    background-color: grey;
    &.loaded {
        /*! purgecss ignore current */
        transition: opacity 1s ease;
        opacity: 100%;
    }
}

.subtle-border {
    border: 2px solid $subtle-grey;
}

#work-with-me > .prim-cont {
    @media screen and (min-width: 768px) {
        min-height: 70svh;
    }
}

.show-calendar {
    min-height: 150px;
}

.show-date {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    line-height: 2.3rem;
    border-right: 3px solid $dimmed-white;
}

.no-shows {
    min-height: 200px;
    color: $dimmed-white;
}

.headshot {
    max-width: Min(180px, 50%);
    width: 100%;
}

.contact {
    width: 100%;
    max-width: 450px;
    background-color: $subtle-grey;
    border-radius: 0.5rem;
    border: none;
    margin: 0rem 0.5rem 1rem 0.5rem;
    a {
        text-decoration: none;
    }
    .copy {
        background: none;
        border: none;
        color: $dimmed-white;
    }
}

.modal-header, .modal-footer, .btn-subtle {
    border-color: $subtle-grey;
}

.links-list {
    max-width: 400px;
    width: 100%;
    .btn {
        width: 100%;
    }
}

.listen-links {
    max-width: 400px;
}


.red-border {
    border: 1px solid red;
}

// start template styles ++++++++++++++++++++++++++++++++++++++++++++++++++++++

.prim-sec {
    @extend .py-2;
}

.prim-cont {
    @extend .container-xxl;
    @extend .d-md-flex;
    max-width: 900px;
}

.show .navbar-nav > li {
    border-bottom: 1px solid $gray-900;
}

.text-emphasis-1 {
    @extend .text-primary;
    font-weight: bold;
}

// start global styles ++++++++++++

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    background-color: black;
    border-top: 2px solid $subtle-grey;
}

img {
    max-width: 100%;
}

// end global styles ---------------

// start markdown styles ++++++++++++++++++

article.markdown {
    @extend .bg-dark-subtle;
    @extend .p-4;
    @extend .fs-5;
    max-width: Min(100%, 1000px);
    line-height: 2.2rem;
}

article.markdown img {
    max-height: 800px;
    max-width: Min(1200px, 100%);
    width: auto;
}

.markdown-img-wrapper {
    max-width: Min(1200px, 100%);
    width: fit-content;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    @extend .me-md-4;
    @extend .mb-4;
    @extend .d-flex;
    @extend .flex-column;
    @extend .align-items-center;
    @extend .text-body-secondary;
    @extend .fs-6;
}

article.markdown p {
    @extend .text-body-secondary;
}

// inline `code` snippets
p > code {
    background-color: black;
    padding: 0.3rem;
    border-radius: 0.4rem;
}

// ```code``` blocks
pre {
    padding: 0.5rem;
    padding-left: 1rem;
    border-radius: 1rem;
}

// end markdown styles -------------

// end template styles --------------------------------------------------------

