{{ define "main" }}
    <section class="prim-sec pb-0">
        <div class="prim-cont d-flex justify-content-center">
            <div class="listen-on px-2 pt-2 py-md-3">
                <div class="d-flex justify-content-start align-items-center">
                    <h2 class="p-0 m-0 me-3 text-nowrap">
                        Listen on:
                    </h2>
                    <div class="listen-links d-flex flex-wrap justify-content-around justify-content-md-start px-2">
                        {{ range (where .Site.RegularPages "Section" "links") }}
                            {{ if .Params.musicLink }}
                                {{ partial "icon-link.html" . }}
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ range $i, $page := .Pages.ByParam "position" }}
        {{ .Scratch.Set "i" $i }}
        <section class="prim-sec">
            <div class="prim-cont d-flex flex-column align-items-center">
                {{ if eq .Type "bcAlbum" }}{{ partial "album.html" $page }}{{ end }}
                {{ if eq .Type "ytVid" }}{{ partial "video.html" $page }}{{ end }}
            </div>
        </section>
    {{ end }}
{{ end }}
