{{ define "main" }}
    {{ $webpage := resources.GetRemote .Params.bcLink }}

    {{ $imgRegEx := `<link\s+rel="image_src"\s+href="([^"]+)"\s*\/?>` }}
    {{ $imgTag := findRESubmatch $imgRegEx $webpage.Content }}
    {{ $albumArtURL := index (index $imgTag 0) 1 }}
    {{ $albumArt := resources.GetRemote $albumArtURL }}
    <img src="{{ $albumArt.RelPermalink }}" alt="Album Art">

    {{ $playerRegEx := `<meta\s+property="og:video"\s+content="([^"]+)"\s*\/?>` }}
    {{ $playerTag := findRESubmatch $playerRegEx $webpage.Content }}
    {{ $playerURL := index (index $playerTag 0) 1 }}
    {{ $albumNum := findRE `album=(\d+)` $playerURL }}
    <iframe style="border: 0; width: 100%; height: 373px;" src="https://bandcamp.com/EmbeddedPlayer/{{ index $albumNum 0 }}/size=large/bgcol=333333/linkcol=ffffff/artwork=none/transparent=true/" seamless><a href="{{ .Params.bcLink }}"></a></iframe>
{{ end }}
