{{ define "main" }}
    {{"<!-- layouts/work-with-me/single.html -->" | safeHTML }}
    <div class="prim-sec">
        <div class="prim-cont flex-column align-items-center">
            <img class="rounded-circle headshot col-6 p-3" src="/images/headshot.jpg" alt="Rocky Hutchins headshot">
            <p class="pitch">{{ .Params.pitch }}</p>
            <ul class="contact-buttons list-unstyled">
                <li>
                    <a 
                        href="mailto:{{ .Site.Params.primEmail }}?subject={{ htmlEscape "Website Inquiry" }}" 
                        class="btn btn-primary fw-bold"
                    >
                        <i class="bi bi-envelope-fill"></i> Email me
                    </a>
                </li>
                <li>
                    <a 
                        href="tel:{{ replaceRE `[^\d]` `` .Site.Params.primPhone }}" 
                        class="btn btn-primary fw-bold"
                    >
                        <i class="bi bi-envelope-fill"></i> Call me
                    </a>
                </li>
                <li>
                    <a 
                        href="sms:+{{ replaceRE `[^\d]` `` .Site.Params.primPhone }}" 
                        class="btn btn-primary fw-bold"
                    >
                        <i class="bi bi-envelope-fill"></i> Text me
                    </a>
                </li>
            </ul>
        </div>
    </div>
{{ end }}
