<!-- Grab the webpage -->
{{ $webpage := resources.GetRemote .Params.bcLink }}

<div class="row gx-4 album-wrapper d-flex justify-content-center">
    <div class="col-md-6 d-flex align-items-end">
        <!-- Get the album art -->
        {{ $imgRegEx := `<link\s+rel="image_src"\s+href="([^"]+)"\s*\/?>` }}
        {{ $imgTag := findRESubmatch $imgRegEx $webpage.Content }}
        {{ $albumArtURL := index (index $imgTag 0) 1 }}
        {{ $albumArt := resources.GetRemote $albumArtURL }}
        <img class="album-art" src="{{ $albumArt.RelPermalink }}" alt="Album Art">
    </div>

    <div class="col-md-6 album-desc d-flex flex-column">
        <h1 class="mb-3 mt-4 mt-md-2">{{ .Title }}</h1>
        <!-- Get the album number and create an embedded player -->
        {{ $playerRegEx := `<meta\s+property="og:video"\s+content="([^"]+)"\s*\/?>` }}
        {{ $playerTag := findRESubmatch $playerRegEx $webpage.Content }}
        {{ $playerURL := index (index $playerTag 0) 1 }}
        {{ $albumNum := findRE `(album|track)=(\d+)` $playerURL }}
        <!-- Get the number of tracks so we can set the player height -->
        {{ $tracksRegEx := `rel="tracknum=(\d)` }}
        {{ $tracks := findRESubmatch $tracksRegEx $webpage.Content }}
        {{ $numOfTracks := int (index (index (last 1 $tracks) 0) 1) }}
        <iframe 
            style="height: {{ add 145 (mul $numOfTracks 33) }}px;"
            class="bc-player"
            src="https://bandcamp.com/EmbeddedPlayer/{{ index $albumNum 0 }}/size=large/bgcol=333333/linkcol=ffffff/artwork=none/transparent=true/" 
            seamless
            >
            <a href="{{ .Params.bcLink }}"></a>
        </iframe>
    </div>
</div>
