<!-- Grab the webpage -->
{{ $webpage := resources.GetRemote .Params.bcLink }}

<div class="row gy-5">
    <div class="col-6">
        <!-- Get the album art -->
        {{ $imgRegEx := `<link\s+rel="image_src"\s+href="([^"]+)"\s*\/?>` }}
        {{ $imgTag := findRESubmatch $imgRegEx $webpage.Content }}
        {{ $albumArtURL := index (index $imgTag 0) 1 }}
        {{ $albumArt := resources.GetRemote $albumArtURL }}
        <img class="album-art" src="{{ $albumArt.RelPermalink }}" alt="Album Art">
    </div>

    <div class="col-6 album-desc">
        <h1 class="mb-3">{{ .Title }}</h1>
        <!-- Get the album number and create an embedded player -->
        {{ $playerRegEx := `<meta\s+property="og:video"\s+content="([^"]+)"\s*\/?>` }}
        {{ $playerTag := findRESubmatch $playerRegEx $webpage.Content }}
        {{ $playerURL := index (index $playerTag 0) 1 }}
        {{ $albumNum := findRE `(album|track)=(\d+)` $playerURL }}
        <iframe 
            style="border: 0; width: 100%; height: 273px;" 
            src="https://bandcamp.com/EmbeddedPlayer/{{ index $albumNum 0 }}/size=large/bgcol=333333/linkcol=ffffff/artwork=none/transparent=true/" 
            seamless
            >
            <a href="{{ .Params.bcLink }}"></a>
        </iframe>
    </div>
</div>
