<footer class="py-3">
    <div class="prim-cont">
        <div class="row w-100 flex-row-reverse p-3 text-body-secondary gx-5">
            <div class="col-sm-6 d-flex flex-column">
                <h4 class="text-body">Contact</h4>
                <span>Call or text: 
                    <a href="tel:{{ replaceRE `[^\d]` `` .Site.Params.primPhone }}">
                        {{ .Site.Params.primPhone }}
                    </a></span>
                <span class="mt-2">Email: 
                    <a href="mailto:{{ .Site.Params.primEmail }}">
                        {{ .Site.Params.primEmail }}
                    </a>
                </span>
            </div>
            <div class="col-sm-6 d-flex flex-column justify-content-center align-items-start">
                {{ partial "created-by" . }}
            </div>
        </div>
    </div>
</footer>
