<div class="overlay ps-2">
    <h1 class="mt-4 fw-normal">Hi, I'm Rocky Hutchins</h1>
    <!--
    <p class="mt-4 fs-md-4 hero-tagline">{{ .Params.tagline }}</p>
    <nav>
        <ul class="home-hero-links my-5">
            {{ range .Site.Menus.hero }}
                <li>
                    <a class="color-hover fs-3" href="{{ .URL }}">
                        {{ .Title }}
                    </a>
                </li>
            {{ end }}
        </ul>
    </nav>
    <div class="hero-icons d-flex justify-content-start mt-4 py-3 me-3 flex-wrap dark-shadow">
        {{ $links := where .Site.RegularPages "Section" "links" }}
        {{ $linksLen := len $links }}
        {{ $wrapLen := 3 }}
        <div class="d-flex">
        {{ range $i, $v := $links.ByParam "position" }}
            {{ if eq (mod (sub $linksLen $i) $wrapLen) 0 }}
                </div>
                <div class="d-flex">
            {{ end }}
            {{ partial "icon-link" $v }}
        {{ end }}
        </div>
    </div>
    {{ $heroImg := resources.GetMatch "images/hero.jpg" }}
    {{ $heroImg := $heroImg.Resize "550x webp" }}
    <img 
        src="{{ $heroImg.RelPermalink }}" 
        alt="Rocky Hutchins playing drums"
        class="behind-overlay"
    >
      -->
</div>
