<h2 class="my-4" id="upcoming-shows">Upcoming Shows</h2>
<div class="show-calendar d-flex align-items-center justify-content-center w-100 pb-3">
    <div class="row g-2 justify-content-center w-100">
        {{ range (where .Site.RegularPages "Section" "shows") }}
            <div class="col-12 col-md-6">
                <div class="subtle-border h-100 d-flex flex-column justify-content-center">
                    <div class="row py-4">
                        <div class="col col-3 show-date d-flex align-items-center justify-content-center">
                            <span class="ps-2">
                                {{ .Params.showDate | time.Format "Jan 02" }}
                            </span>
                        </div>
                        <div class="col col-9 show-details pe-3">
                            <h3 class="fs-5">{{ .Params.city }}</h3>
                            <div class="time-and-venue d-flex flex-wrap-reverse pe-3"> 
                                <span class="show-time pe-3">
                                    {{ .Params.showDate | time.Format "3:04 pm" }}
                                </span>
                                <span class="show-venue">
                                    {{ .Params.venue }}
                                </span>
                            </div>
                            {{ with .Params.description }}
                                <p class="mt-3 mb-0">{{ . }}</p>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        {{ else }}
            <div class="col-12 col-md-6">
                <div class="no-shows subtle-border h-100 d-flex flex-column justify-content-center align-items-center">
                    <i class="bi bi-moon-stars fs-1"></i>
                    <span class="text-center fs-5">
                        No shows currently scheduled. Check back soon!
                    </span>
                </div>
            </div>
    </div>
    {{ end }}
</div>
