<div class="row gx-4 video-wrapper d-flex justify-content-center p-2 flex-row-reverse">
    <div class="col-md-8 d-flex align-items-end p-0">
        {{ $videoID := .Params.link }}
        {{ $regEx := `https:\/\/www\.youtube\.com\/watch\?v=(.*)` }}
        {{ $videoID := findRESubmatch $regEx $videoID }}
        {{ $videoID := index (index $videoID 0) 1 }}
        <iframe 
            class="yt-player"
            src="https://www.youtube.com/embed/{{ $videoID }}?controls=0" 
            title="YouTube video player" 
            frameborder="0" 
            allow="picture-in-picture; web-share" 
            allowfullscreen
        >
        </iframe> 
    </div>
    <div class="col-md-4 album-desc d-flex flex-column p-0 pe-md-3">
        <h2 class="mb-3 mt-4 mt-md-3">{{ .Title }}</h2>
        <a 
            class="ps-1 pb-2" 
            href="{{ .Params.link }}"
            target="_blank"
        >
            Watch on YouTube
        </a>
        {{ with .Params.credits }}
            <span class="album-credits ps-1 pb-2">Credits: {{ . }}</span>
        {{ end }}
    </div>
</div>
