<div class="d-flex flex-md-row flex-column align-items-center justify-content-center">
    <img 
        class="rounded-circle p-md-3 headshot" 
        src="/images/headshot.jpg" 
        alt="Rocky Hutchins headshot"
    >
    <p class="pitch p-2 fs-5 m-0">
        {{ .Params.pitch }}
    </p>
</div>
<div class="d-flex flex-wrap justify-content-center w-100">
    <div class="contact d-flex justify-content-between px-4 py-3 mb-3">
        <div class="left">
            {{ .Site.Params.primPhone }}
            <button class="ps-1">
                <i class="copy bi bi-clipboard2"></i>
            </button>
        </div>
        <div class="right">
            <a href="tel:{{ replaceRE `[^\d]` `` .Site.Params.primPhone }}">
                <i class="bi bi-telephone-fill ps-3"></i>
            </a>
            <a href="sms:+{{ replaceRE `[^\d]` `` .Site.Params.primPhone }}">
                <i class="bi bi-chat-square-text-fill ps-3"></i>
            </a>
        </div>
    </div>
    <div class="contact d-flex justify-content-between px-4 py-3 mb-3">
        <div class="left">
            {{ .Site.Params.primEmail }}
            <button class="ps-1">
                <i class="copy bi bi-clipboard2"></i>
            </button>
        </div>
        <div class="right">
            <a href="mailto:{{ .Site.Params.primEmail }}?subject={{ htmlEscape "Website Inquiry" }}">
                <i class="bi bi-envelope-fill ps-3"></i>
            </a>
        </div>
    </div>
</div>
<a 
    class="btn btn-primary fw-bold my-4 mt-3"
    href="/test-vcf.vcf"
>
    <i class="bi bi-person-vcard-fill"></i> Add me to your contacts
</a>
