<h2 class="d-none d-md-block">Work With Me</h2>
<!-- Headshot and pitch -->
<div class="d-flex flex-md-row flex-column align-items-center justify-content-center">
    {{ $headshot := resources.Get "images/headshot.jpg" }}
    {{ $headshot = $headshot.Fill "200x200 webp" }}
    <img 
        class="rounded-circle p-md-3 headshot" 
        src="{{ $headshot.RelPermalink }}" 
        alt="Rocky Hutchins headshot"
    >
    <h2 class="d-md-none mt-4 mb-0">Work With Me</h2>
    <p class="pitch px-2 py-md-5 py-3 fs-5 m-0">
        {{ .Params.pitch }}
    </p>
</div>
<!-- Contact Lines and Buttons -->
<div class="d-flex flex-wrap justify-content-center w-100">
    <!-- Add button -->
    <button 
        class="contact text-primary px-4 py-3 mb-3 text-start"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#contact-modal"
    >
        <i class="bi bi-person-plus-fill me-1"></i>
        Add me to your contacts
    </button>
    <!-- Contact Modal -->
    <div 
        class="modal fade" 
        id="contact-modal" 
        tabindex="-1" 
        aria-labelledby="contact-modal-label" 
        aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            {{ partial "contact-modal" . }}
        </div>
      </div>
    </div>
    <!-- Phone -->
    <div class="contact d-flex justify-content-between px-4 py-3 mb-3">
        <div class="left">
            <span class="copy-target">{{ .Site.Params.primPhone }}</span>
            <button class="ps-1 copy" title="Copy to clipboard">
                <i class="bi bi-clipboard2"></i>
            </button>
        </div>
        <div class="right">
            <a href="tel:{{ replaceRE `[^\d]` `` .Site.Params.primPhone }}">
                <i class="bi bi-telephone-fill ps-3"></i>
            </a>
            <a href="sms:+{{ replaceRE `[^\d]` `` .Site.Params.primPhone }}">
                <i class="bi bi-chat-square-text-fill ps-3"></i>
            </a>
        </div>
    </div>
    <!-- Email -->
    <div class="contact d-flex justify-content-between px-4 py-3 mb-3">
        <div class="left">
            <span class="copy-target">{{ .Site.Params.primEmail }}</span>
            <button class="ps-1 copy" title="Copy to clipboard">
                <i class="bi bi-clipboard2"></i>
            </button>
        </div>
        <div class="right">
            <a href="mailto:{{ .Site.Params.primEmail }}?subject={{ htmlEscape "Website Inquiry" }}">
                <i class="bi bi-envelope-fill ps-3"></i>
            </a>
        </div>
    </div>
</div>
