{{ define "main" }}
    {{"<!-- layouts/home.html -->" | safeHTML }}
    <section class="prim-sec py-md-5">
        <div class="prim-cont home-hero d-flex flex-column">
            <div class="overlay ps-2">
                <h1 class="mt-4 fw-normal">Hi, I'm Rocky Hutchins</h1>
                <p class="mt-4 fs-md-4">Drummer, Audio Engineer, Multi-instrumentalist, Artist, Live and Studio Musician</p>
                <ul class="home-hero-links">
                    {{ range .Site.Menus.hero }}
                        <li><a href="{{ .URL }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
                <img 
                    src="/images/hero-bg.png" 
                    alt="Rocky Hutchins playing drums"
                    class="behind-overlay"
                >
                <img 
                    src="/images/hero-blue.png" 
                    alt="Rocky Hutchins playing drums"
                    class="behind-overlay animated"
                    id="blue-shadow"
                >
                <img 
                    src="/images/hero-green.png" 
                    alt="Rocky Hutchins playing drums"
                    class="behind-overlay animated"
                    id="green-shadow"
                >
                <img 
                    src="/images/hero-fg.png" 
                    alt="Rocky Hutchins playing drums"
                    class="behind-overlay"
                >
            </div>
        </div>
    </section>
{{ end }}
