{{ define "main" }}
    {{"<!-- layouts/home.html -->" | safeHTML }}
    <section class="prim-sec">
        <div class="prim-cont home-hero">
            <div class="over-img">
                <img 
                    src="/images/bandw-background.webp" 
                    alt="Rocky Hutchins playing drums"
                    class="behind-text"
                >
                <h1 class="mt-4 fw-normal">Hi, I'm Rocky Hutchins</h1>
                <p class="mt-4 fs-md-4">Drummer, Audio Engineer, Multi-instrumentalist, Artist, Live and Studio Musician</p>
                <div class="home-hero-links">
                    <ul>
                        <li><a href="">Work with me</a></li>
                        <li><a href="">Music</a></li>
                        <li><a href="">Social Media</a></li>
                        <li><a href="">Gallery</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{{ end }}
